
@import url(https://fonts.google.com/share?selection.family=Poppins:ital,wght@0);*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: rgb(3, 3, 72);
    color: rgb(24, 24, 24);
    max-width: 1024px;
    margin: 0 auto;
}
h1{text-align: center;}
nav{
    width: fit-content;
    margin: 0 auto;
    padding: 16px;
    align-items: center;
    justify-content: center;
}
nav ul{
    display:flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    font-size: large;
    font-family: "poppins";
    border: 1px solid rgb(254, 219, 43);
    border-radius: 25px; 
    padding: 6px;
   
    
}
nav ul li{
   padding: 16px;
   border-radius: 25px;
   text-decoration: none;
}
nav ul li:hover{
    background-color:rgb(184, 224, 243);;
}
a {text-decoration: none;
    color: rgb(252, 253, 254);
}
.first{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    align-items:center
}
.first div{
    margin: 0 100px; 
}
.first img{
    height: 200px;
    width: 180px;
    border-radius: 30px;
}
.first h1{
    width: 60%;
    font-size: 3.55rem;
    font-weight: 500;
    color: rgb(255, 215, 0);
}
.second{
    display: grid ;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.sub{
    border: 1px solid white;
    border-radius: 5px;
    padding: 16px;
    background-color: rgb(152, 195, 247);
    
}
.red{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.third{
    display: grid ;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;

}
.fourth{
    display: grid ;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.ren{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width:fit-content;
    gap: 20px;
    margin-bottom: 200px;
    justify-content: space-around;
}
.service{
    display: grid ;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}